@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;

    var mediaGet1 = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var mediaGet2 = Model.Content.GetPropertyValue<IPublishedContent>("postCategory");
}


<div class="container">
    
    <div class="row">

        @Umbraco.Field("title")
        By @Umbraco.Field("author")
        @Umbraco.Field("summary")
        @mediaGet2.Name
        <br />
        <img src="@mediaGet1.Url" alt="Alternate Text" />

    </div>
</div>