@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


<div>
    @Umbraco.Field("title")

    @Umbraco.Field("author")
    @Umbraco.Field("summary")
    
    @Umbraco.Field("metaImage")
    @Umbraco.Field("postCategory")
</div>

