@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

@Html.Partial("Page Content")

<h1>@Umbraco.Field("metaTitle")</h1>

<p>@Umbraco.Field("metaDescription")</p>

@Umbraco.Field("metaImage")

@Umbraco.Field("metaKeywords")
