@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models

<div class="container">
    @{
        var selection = Model.Content.FirstChild("pageContent").Children("textBanner").Where(x => x.IsVisible()).ToArray();

        foreach (var item in selection)
        {
            var test = item.GetPropertyValue("link");

            var typedRelatedLinksConverted = item.GetPropertyValue<RelatedLinks>("link");

            <section class="text-banner">
                <div>
                    <div>
                        <div>
                            @if (item.GetPropertyValue("heading") != null)
                            {
                                <h1>heading from TextBanner Partial: @item.GetPropertyValue("heading")</h1>
                            }
                            @if (item.GetPropertyValue("text") != null)
                            {
                                <div>text from TextBanner Partial: @item.GetPropertyValue("text")</div>
                            }
                            @if (typedRelatedLinksConverted.Any())
                            {
                                foreach (var page in typedRelatedLinksConverted)
                                {
                                    var linkTarget = (page.NewWindow) ? "_blank" : null;
                                    <p><a href="@page.Link" target="@linkTarget">@page.Caption</a></p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
    }
</div>
