@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models

<div class="container">
    @{

        var test = Model.Content.GetPropertyValue("link");

        var typedRelatedLinksConverted = Model.Content.GetPropertyValue<RelatedLinks>("link");

        <section class="text-banner">
            <div>
                <div>
                    <div>
                        @if (Model.Content.GetPropertyValue("heading") != null)
                        {
                            <h1>heading from TextBanner Partial: @Model.Content.GetPropertyValue("heading")</h1>
                        }
                        @if (Model.Content.GetPropertyValue("text") != null)
                        {
                            <div>text from TextBanner Partial: @Model.Content.GetPropertyValue("text")</div>
                        }
                        @if (typedRelatedLinksConverted.Any())
                        {
                            foreach (var page in typedRelatedLinksConverted)
                            {
                                var linkTarget = (page.NewWindow) ? "_blank" : null;
                                <p><a href="@page.Link" target="@linkTarget">@page.Caption</a></p>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    }
</div>