@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models

@{ var typedRelatedLinksConverted = Model.Content.GetPropertyValue<RelatedLinks>("link"); }

<div class="jumbotron text-center">
    <section class="text-banner">
        <div class="container align-self-md-center">
            <div class="row">
                <div class="col-md-12">
                    @if (Umbraco.Field("heading") != null)
                    {
                        <h1>@Umbraco.Field("heading")</h1>
                    }
                    @if (Umbraco.Field("text") != null)
                    {
                        @Umbraco.Field("text")
                    }
                    @if (typedRelatedLinksConverted.Any())
                    {
                        foreach (var page in typedRelatedLinksConverted)
                        {
                            var linkTarget = (page.NewWindow) ? "_blank" : null;
                            <a class="btn btn-info" role="button" href="@page.Link" target="@linkTarget">@page.Caption</a>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
</div>